# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/runConfigurations.xml
.idea/workspace.xml
.gradle/2.14.1/taskArtifacts/cache.properties
.gradle/2.14.1/taskArtifacts/cache.properties
.gradle/2.14.1/taskArtifacts/cache.properties
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/animated_vector_drawable_24_2_1.xml
.idea/libraries/appcompat_v7_24_2_1.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_24_2_1.xml
.idea/libraries/support_compat_24_2_1.xml
.idea/libraries/support_core_ui_24_2_1.xml
.idea/libraries/support_core_utils_24_2_1.xml
.idea/libraries/support_fragment_24_2_1.xml
.idea/libraries/support_media_compat_24_2_1.xml
.idea/libraries/support_vector_drawable_24_2_1.xml
.idea/misc.xml
.idea/modules.xml
app/app.iml
app/build.gradle
app/proguard-rules.pro
app/src/androidTest/java/edu/utdallas/pedometer/ExampleInstrumentedTest.java
app/src/test/java/edu/utdallas/pedometer/ExampleUnitTest.java
build/generated/mockable-android-24.jar
build/intermediates/dex-cache/cache.xml
gradle/wrapper/gradle-wrapper.properties
gradlew
local.properties
Pedometer.iml
.gradle/2.14.1/taskArtifacts/cache.properties
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
local.properties
Pedometer.iml
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/animated_vector_drawable_24_2_1.xml
.idea/libraries/appcompat_v7_24_2_1.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_24_2_1.xml
.idea/libraries/support_compat_24_2_1.xml
.idea/libraries/support_core_ui_24_2_1.xml
.idea/modules.xml
.idea/libraries/support_fragment_24_2_1.xml
.idea/libraries/support_media_compat_24_2_1.xml
.idea/misc.xml
app/build.gradle
app/app.iml
build/intermediates/dex-cache/cache.xml
gradle/wrapper/gradle-wrapper.properties
gradlew
build/generated/mockable-android-24.jar
app/proguard-rules.pro
