# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
local.properties
.idea/libraries/android_android_24.xml
.idea/libraries/android_android_24.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/support_annotations_24_2_1.xml
.idea/libraries/support_media_compat_24_2_1.xml
local.properties
.idea/libraries/android_android_24.xml
.idea/libraries/animated_vector_drawable_24_2_1.xml
.idea/libraries/appcompat_v7_24_2_1.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_24_2_1.xml
.idea/libraries/support_compat_24_2_1.xml
.idea/libraries/support_core_ui_24_2_1.xml
.idea/libraries/support_core_utils_24_2_1.xml
.idea/libraries/support_fragment_24_2_1.xml
.idea/libraries/support_media_compat_24_2_1.xml
.idea/libraries/support_media_compat_24_2_1.xml
.idea/libraries/support_vector_drawable_24_2_1.xml
.idea/runConfigurations.xml
.idea/workspace.xml
.idea/libraries/support_vector_drawable_24_2_1.xml
local.properties
app/src/androidTest/java/edu/utdallas/pedometer/ExampleInstrumentedTest.java
app/src/test/java/edu/utdallas/pedometer/ExampleUnitTest.java
